@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

/* CONFIGURACIÓN BASICA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 60px; /* Espacio para el header fijo */
    padding-bottom: 60px; /* Espacio para el footer fijo */
}

/* MENÚ DE NAVEGACIÓN */
header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo img {
    width: 200px;
}






ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px; /* Espaciado entre los elementos */
}

ul li {
    position: relative;
}

ul li a {
    display: inline-block; /* Para usar padding y dimensiones */
    background-color: #222222; /* Fondo gris por defecto */
    padding: 12px 24px; /* Espaciado interno similar al botón login-btn */
    border-radius: 5px; /* Bordes redondeados */
    color: #ffffff; /* Color del texto */
    font-size: 1em; /* Tamaño del texto */
    font-family: 'Montserrat', sans-serif;
    text-decoration: none; /* Quitar subrayado */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición suave */
}

ul li a:hover {
    background-color: #7a7124; /* Fondo verde al pasar el cursor */
    color: #fff; /* Texto blanco para contraste */
    transform: scale(1.05); /* Aumentar ligeramente al pasar el cursor */
}



.select-btn{
    background-color: #666666; 
    padding: 12px 24px; 
    border-radius: 5px;
    color: #ffffff;
    font-size: 1em; 
    font-family: 'Montserrat', serif;
    text-decoration: none;
    /* display: inline-block; */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.select-btn:hover {
    background-color: #444444; 
    transform: scale(1.05); 
}





.login-btn {
    background-color: #597B2C; 
    padding: 12px 24px; 
    border-radius: 5px;
    color: #ffffff;
    font-size: 1em; 
    font-family: 'Montserrat', serif;
    text-decoration: none;
    /* display: inline-block; */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-btn:hover {
    background-color: #4b6826; 
    transform: scale(1.05);
}







#contacto {
    padding: 60px 20px;
    background-color: #F4F5F6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.text-center {
    text-align: center;
    /* margin-bottom: 30px; */
}

h2 {
    font-size: 2em;
    color: #597B2C;
    margin-bottom: 10px;
}

.intro {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}

.contact-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.info-contacto,
.mapa {
    flex: 1 1 45%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-contacto h3 {
    font-size: 1.5em;
    color: #597B2C;
    margin-bottom: 15px;
}

.info-contacto p {
    font-size: 1em;
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
}

.info-contacto i {
    color: #8fc83d;
    margin-right: 10px;
}

.mapa iframe {
    border-radius: 8px;
    border: none;
}

















/* PIE DE PÁGINA */

footer {
    background-color: #525047;
    color: #fff;
    padding: .5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* z-index: 1000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', serif;
}

.contact-social {
    display: flex;
    align-items: center;
}

.social-media {
    display: flex;
}

.social-media a {
    margin-left: 1rem;
}

.social-media img {
    width: 20px;
}
