@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

/* CONFIGURACIÓN BASICA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F5F6;
    padding-top: 100px; /* Espacio para el header fijo */
    padding-bottom: 60px; /* Espacio para el footer fijo */
}

/* MENÚ DE NAVEGACIÓN */
header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo img {
    width: 200px;
}











ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px; /* Espaciado entre los elementos */
}

ul li {
    position: relative;
}

ul li a {
    display: inline-block; /* Para usar padding y dimensiones */
    background-color: #222222; /* Fondo gris por defecto */
    padding: 12px 24px; /* Espaciado interno similar al botón login-btn */
    border-radius: 5px; /* Bordes redondeados */
    color: #ffffff; /* Color del texto */
    font-size: 1em; /* Tamaño del texto */
    font-family: 'Montserrat', sans-serif;
    text-decoration: none; /* Quitar subrayado */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición suave */
}

ul li a:hover {
    background-color: #7a7124; /* Fondo verde al pasar el cursor */
    color: #fff; /* Texto blanco para contraste */
    transform: scale(1.05); /* Aumentar ligeramente al pasar el cursor */
}



.select-btn{
    background-color: #666666; 
    padding: 12px 24px; 
    border-radius: 5px;
    color: #ffffff;
    font-size: 1em; 
    font-family: 'Montserrat', serif;
    text-decoration: none;
    /* display: inline-block; */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.select-btn:hover {
    background-color: #444444; 
    transform: scale(1.05); 
}









.login-btn {
    background-color: #597B2C; 
    padding: 12px 24px; 
    border-radius: 5px;
    color: #ffffff;
    font-size: 1em; 
    font-family: 'Montserrat', serif;
    text-decoration: none;
    /* display: inline-block; */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-btn:hover {
    background-color: #4b6826; 
    transform: scale(1.05);
}




.container {
    /* display: flex; Habilita flexbox */
    /* max-width: 1200px; */
    margin: 0 auto;
    /* flex-direction: column; Apila los elementos verticalmente */
    /* align-items: center; Centra los elementos horizontalmente */
    /* justify-content: center; Centra los elementos verticalmente */
    text-align: center; 
    /* min-height: 100vh; Ocupa toda la altura de la pantalla */
    /* background-color: #F4F5F6; Opcional: establece un fondo */
}


.menu-title {
    padding: 10px;
    font-size: 2em;
    color: #597B2C;
    /* margin-bottom: 10px; */
}

.menu-description {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 30px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center; /* Centra el grid en el contenedor */
    width: 50%; /* Asegura que el grid ocupe todo el ancho disponible */
    max-width: 1200px; /* Define un ancho máximo */
    margin: 0 auto; /* Centra horizontalmente */
}



.categoria-card {
    background-color: #ffffff;
    width: 200px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.categoria-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.image-container {
    background-color: #ffffff;
    border-bottom: 3px solid #8fc83d;
    width: 200px; /* Ancho fijo del contenedor */
    height: 150px; /* Alto fijo del contenedor */
    overflow: hidden; /* Esconde cualquier contenido que desborde */
    display: block; /* Asegura que actúe como bloque sin ajustes extra */
    position: relative; /* Necesario para controlar a la imagen dentro del contenedor */
}

.categoria-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* La imagen llena el contenedor sin perder proporción */
    position: absolute; /* Ajusta la posición de la imagen en relación con el contenedor */
    top: 0;
    left: 0;
}

.categoria-card h3 {
    font-size: 1em;
    font-family: 'Montserrat', serif;
    color: #333;
    margin-top: 8px;
}
  
  
/* PIE DE PÁGINA */

footer {
    background-color: #525047;
    color: #fff;
    padding: .5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* z-index: 1000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', serif;
}

.contact-social {
    display: flex;
    align-items: center;
}

.social-media {
    display: flex;
}

.social-media a {
    margin-left: 1rem;
}

.social-media img {
    width: 20px;
}
