@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

/* CONFIGURACIÓN BASICA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 60px; /* Espacio para el header fijo */
    padding-bottom: 60px; /* Espacio para el footer fijo */
}

/* MENÚ DE NAVEGACIÓN */
header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo img {
    width: 200px;
}









ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px; /* Espaciado entre los elementos */
}

ul li {
    position: relative;
}

ul li a {
    display: inline-block; /* Para usar padding y dimensiones */
    background-color: #222222; /* Fondo gris por defecto */
    padding: 12px 24px; /* Espaciado interno similar al botón login-btn */
    border-radius: 5px; /* Bordes redondeados */
    color: #ffffff; /* Color del texto */
    font-size: 1em; /* Tamaño del texto */
    font-family: 'Montserrat', sans-serif;
    text-decoration: none; /* Quitar subrayado */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición suave */
}

ul li a:hover {
    background-color: #7a7124; /* Fondo verde al pasar el cursor */
    color: #fff; /* Texto blanco para contraste */
    transform: scale(1.05); /* Aumentar ligeramente al pasar el cursor */
}



.select-btn{
    background-color: #666666; 
    padding: 12px 24px; 
    border-radius: 5px;
    color: #ffffff;
    font-size: 1em; 
    font-family: 'Montserrat', serif;
    text-decoration: none;
    /* display: inline-block; */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.select-btn:hover {
    background-color: #444444; 
    transform: scale(1.05); 
}



.login-btn {
    background-color: #597B2C; 
    padding: 12px 24px; 
    border-radius: 5px;
    color: #ffffff;
    font-size: 1em; 
    font-family: 'Montserrat', serif;
    text-decoration: none;
    /* display: inline-block; */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-btn:hover {
    background-color: #4b6826; 
    transform: scale(1.05);
}



#entradas {
    padding: 50px 20px;
    text-align: center;
    background-color: #F4F5F6;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
}


.category-title {
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    color: #4d4a3f;
    margin-bottom: 20px;
}

.category-description {
    font-size: 1em;
    font-family: 'Lustria', serif;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
}

.platillos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.platillo-card {
    background-color: #ffffff;
    width: 200px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.platillo-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.platillo-img {
    object-fit: cover !important;
    width: 100% !important;
    height: 150px !important;
    border-bottom: 3px solid rgb(255, 180, 0);
}


.platillos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center; /* Asegura que el grid esté centrado */
    width: 50%; /* Ahora ocupa todo el ancho disponible */
    max-width: 1200px; /* Define un ancho máximo para un diseño consistente */
    margin: 0 auto; /* Centra el grid horizontalmente */
}


.platillo-card h3 {
    font-size: 1.1em;
    font-family: 'Montserrat', serif;
    color: #333;
    margin-top: 12px;
    line-height: 1.2em; /* Altura de línea */
    /* height: 2.4em; Máximo para dos líneas */
    overflow: hidden; /* Oculta el texto sobrante */
    text-overflow: ellipsis; /* Muestra puntos suspensivos */
    white-space: nowrap; /* Mantiene las palabras juntas */
    display: block;
}

.price {
    font-size: 1em;
    font-family: 'Lustria', serif;
    color: #8fc83d;
    margin: 10px 0;
}

.add-to-cart-btn {
    background-color: rgb(255, 180, 0);
    border: none;
    color: white;
    padding: 10px 20px; /* Ajusta el tamaño interno del botón */
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto; /* Agrega espacio arriba y centra el botón horizontalmente */
    display: block; /* Asegura que el botón esté centrado */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-to-cart-btn:hover {
    background-color: #7a7124;
    transform: scale(1.1);
}

.add-to-cart-btn i {
    font-size: 1.2em;
}


/* modales */

/* Estilo general del modal */
.modal {
    display: none; /* Oculta el modal inicialmente */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semi-transparente */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease;
}

.modal-img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.modal h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.modal p {
    font-size: 1em;
    color: #666;
}

.close-btn {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 20px; /* Ajusta la distancia desde el lado derecho */
    width: 40px; /* Ancho del botón */
    height: 40px; /* Altura del botón */
    font-size: 1.5em; /* Tamaño de la "X" */
    color: #333; /* Color de la "X" */
    background: #fff; /* Fondo del círculo */
    border: none;
    border-radius: 50%; /* Hace el botón circular */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}

.close-btn:hover {
    background: #f4f4f4; /* Cambia el fondo al pasar el mouse */
}


/* Animación de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}







/* PIE DE PÁGINA */

footer {
    background-color: #525047;
    color: #fff;
    padding: .5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* z-index: 1000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', serif;
}

.contact-social {
    display: flex;
    align-items: center;
}

.social-media {
    display: flex;
}

.social-media a {
    margin-left: 1rem;
}

.social-media img {
    width: 20px;
}
